<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='signup.css')}}" />
</head>

<body>
    <section>
        <form class="signin" method="POST">
            <div class="content">
                <h2>Sign up</h2>
                <div class="form">
                    <div class="inputBox">
                        <input type="text" name="username" required /> <i>Username</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" required /> <i>Password</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="cpassword" required /> <i>Confirm Password</i>
                    </div>
                    <div class="links">
                        <a href="/">Back to Login page</a>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Register" />
                    </div>
                    <a style="color:red">{{msg}}</a>
                </div>
            </div>
        </form>
    </section>
</body>

</html>